// all the important styles are in this file
@import "animations.less";

#app-fuk-u {
    display: flex;
    flex-direction: row;
    padding: 0.75vw;
    -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;


}
