@import 'variables.less';

.cac-iframe {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: @layer3;
    border: none;
}

.cac-block {
    background-color: @layer3;
    padding: 1rem;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 0.75;

    .divider {
        margin-bottom: 2vw;
    }
}
