@import '../static/variables.less';

.cac__button {
    width: 90% !important;
    line-height: 2.5vh;
    background: @secondary6 !important;
    color: @text !important;
    text-align: left !important;
    font-size: 2.5vh !important;
    padding-left: 2% !important;
    display: inline-flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 2% !important;
    border: none !important;
    border-radius: 15px !important;
    transition: 1s !important;
    height: auto !important;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    &:hover {
        transform: translateX(5px) !important;
    }

    &:last-child {
        margin-bottom: 5% !important;
    }

    p {
        font-size: 2vh;
        color: @text;
        line-height: 2vh;
        margin: 1% 0;
    }
}

.cac__button--enabled {
    box-shadow: inset 70vw 0 0px 0 @theme !important;
}

.cac__form__container {
    width: 90% !important;
    display: inline-flex !important;
    flex-direction: column !important;
    background: @secondary6 !important;
    color: @text !important;
    border-radius: 15px !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 2% 0 !important;
}

.cac__button__input {
    width: 90% !important;
    line-height: 6vh !important;
    background: @secondary6 !important;
    color: @text !important;
    text-align: left !important;
    font-size: 1.5vw !important;
    padding-left: 2% !important;
    display: inline-flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-bottom: 2% !important;
    border: none !important;
    border-radius: 15px !important;
    transition: 1s !important;
    height: auto !important;
}

.cac__button__form__title {
    width: 90%;
    margin-left: 0% !important;
    font-size: 1.5vw !important;
    color: @text !important;
    font-weight: bold !important;
    text-align: left !important;
}

.cac__button__submit {
    font-size: 1.5vw !important;
    color: @text !important;
    font-weight: bold !important;
    text-align: right !important;
    margin-bottom: 2% !important;
    display: inline-flex !important;
    border-radius: 15px !important;
    background: @theme !important;
    padding-left: 2% !important;
    width: 90%;
    line-height: 6vh;
}
