@import '../static/variables.less';

@keyframes introanim {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slidein {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0px);
    }
}

.cac__section {
    width: 86% !important;
    height: 6% !important;
    background-color: transparent !important;
    text-align: left !important;
    position: relative;
    display: flex !important;
    align-items: center !important;
    font-size: 1.5vw !important;
    margin-top: 5% !important;
    transition: 0.5s !important;
    cursor: pointer !important;
    animation: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) introanim forwards;
    animation: slidein 1s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
        transform: translateX(5px) !important;
    }

    svg {
        margin-left: 1% !important;
        margin-right: 5% !important;
    }
}

.cac__section__content {
    width: 100% !important;
    height: 100% !important;
    display: none;
    position: absolute !important;
    align-items: center !important;
    text-align: center !important;
    overflow-y: scroll !important;

    &::-webkit-scrollbar {
        width: 7px !important;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: @theme !important;
        border-radius: 7px !important;
    }
}

.cac__section__title {
    font-weight: 600 !important;
    font-size: 2.25vw !important;
    line-height: 2.25vw !important;
    margin-left: 5% !important;
    margin-top: calc(0.8vh + 0.5vw);
    text-align: left !important;
    width: 90% !important;
}

.cac__section__description {
    font-weight: 400 !important;
    font-size: 1.5vw !important;
    line-height: 1.5vw !important;
    text-align: left !important;
    margin-left: 5% !important;
    margin-bottom: 3% !important;
    width: 90% !important;
}

@media (max-aspect-ratio: 1/1) {
    .cac__section {
        font-size: 0vw !important;
        justify-content: center !important;
        margin-top: 8% !important;

        svg {
            height: 50% !important;
        }
    }

    .cac__section__title {
        font-size: 6vw !important;
        line-height: 6vw !important;
    }

    .cac__section__description {
        font-size: 4vw !important;
        line-height: 4vw !important;
    }
}
