@import "./variables.less";

.cac__iframe {
    width: 90%;
    height: 80%;
    background-color: transparent;
    border-radius: 20px;
    margin-top:2.5%;
    border: 4px solid @theme !important;
}

.cac__iframe__svg {
    background-color: transparent;
    fill: @text;
    height:100%;
    margin-left:2%;

    svg {
        height:60%;
    }
}

.cac__iframe__controls {
    width: 90%;
    height: 5%;
    display: inline-flex;
    background-color: @theme;
    border-radius: 20px;
    margin-top: 1%;
}
