@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import 'variables.less';

.cac__ALL {
    font-family: 'Nunito', sans-serif !important;
    color: @text !important;
    border: none;
    margin: none;
    font-weight: auto;
    box-shadow: none;
    text-shadow: none;
}

svg {
    fill: @text;
}

#cac__CONTAINER {
    background-color: @secondary6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#cac__GUI {
    width: 85%;
    height: 85%;
    background-color: @secondary6;
    text-align: left;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    align-items: center;
}

#cac__SIDEBAR {
    width: 20%;
    height: calc(100% - 1vw);
    background-color: @secondary6;
    text-align: left;
    border-radius: 20px;
    position: relative;
    display: flex;
    left: 0.5vw;
    overflow: none;
    flex-direction: column;
    align-items: center;
}

#cac__MAINCONTENT {
    width: 80%;
    height: 100%;
    background-color: transparent;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cac__LOGO {
    width: 95%;
    height: 7%;
    margin-top: 0.8vh;
    background-color: @theme;
    text-align: center;
    position: relative;
    font-size: 1.75vw;
    font-weight: 800;
    display: flex;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}

#cac__section__BACKGROUND {
    width: 95%;
    height: 6%;
    background-color: @theme;
    text-align: center;
    border-radius: 0.75vw;
    position: absolute;
}

#cac__TABBAR {
    width: auto;
    z-index: 100000000000000;
    height: 3vw;
    background-color: @theme;
    border-radius: 1vw;
    margin-right: 1%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-left: 0.25vw;

    &:hover .cac__tabbar__button {
        opacity: 0.5;
    }

    .cac__tabbar__button:hover {
        opacity: 1;
    }
}

@media screen and (orientation: portrait) {
    #cac__GUI {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    #cac__SIDEBAR {
        width: 15%;
        height: 100%;
        left: 0;
        border-radius: 0;
    }
    #cac__section__BACKGROUND {
        width: 80%;
        border-radius: 2vh;
    }
    #cac__LOGO {
        display: none;
    }
    #cac__TABBAR {
        display: none;
    }
}
